@font-face {
  font-family: "iconfont"; /* Project id 3155611 */
  src: url('iconfont.woff2?t=1649083261553') format('woff2'),
       url('iconfont.woff?t=1649083261553') format('woff'),
       url('iconfont.ttf?t=1649083261553') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun1:before {
  content: "\e600";
}

.icon-xiaoxi:before {
  content: "\e654";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-a-gaoxinghaoxinqingbiaoqingxihuanbiaoqingxiaolian:before {
  content: "\e743";
}

.icon-zishutongji:before {
  content: "\e71d";
}

.icon-shijian:before {
  content: "\e618";
}

.icon-lianjie:before {
  content: "\e6c8";
}

.icon-juejin:before {
  content: "\e601";
}

.icon-csdn:before {
  content: "\e638";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-yuedu:before {
  content: "\e64a";
}

